<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate">
                <h2 class="mb-4">LIÊN HỆ</h2>
                <h5>Công Ty TNHH Du Lịch Việt là đơn vị hàng đầu Việt Nam chuyên phân phối sản phẩm dịch vụ tour du lịch khách sạn, teambuding - gala dinner trong và ngoài nước. Đồng hành cùng với quý khách là những kiến thức, kinh nghiệm cần thiết khi đi du lịch luôn được chúng tôi cập nhật 24/24</h5>
                <h5>Địa chỉ: Số 182 Lê Duẩn, Bến Thủy, Thành phố Vinh, Nghệ An</h5>
                <h5>Email: lethanhhuy215748020110199@gmail.com</h5>
                <h5>Hotline: 0889421997 - 0971962878</h5>
                <p><a href="/list-diem-den-3.html" class="btn btn-primary py-3 px-4">Tìm kiếm điểm đến</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-paragliding"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Các hoạt động</h3>
                                <p>Khi tham gia với chúng tôi, bạn sẽ có những trải nghiệm tuyệt vời.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-route"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Sắp xếp chuyến đi</h3>
                                <p>Chúng tôi sẽ sắp xếp chuyến đi theo sở thích, mong muốn của bạn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-tour-guide"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Hướng dẫn riêng</h3>
                                <p>Sẽ luôn có các hướng dẫn viên chỉ dẫn các tour du lịch của bạn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-map"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Người quản lý vị trí</h3>
                                <p>Các chuyến đi sẽ được quản lý một cách khoa học, bài bản, chuyên nghiệp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-4">Phản hồi khách hàng</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Trải nghiệm của tôi thực sự rất tuyệt vời.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Lê Thanh Huy</p>
                                        <span class="position">Khách hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Đây là một chuyến đi mang lại cho tôi cảm giác vui vẻ.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Trần Văn Mạnh</p>
                                        <span class="position">Khách hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Không có gì để chê dịch vụ tour của bạn.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_4.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Trần Thế Mạnh</p>
                                        <span class="position">Khách hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Đó là một chuyến đi tuyệt nhất tôi từng tham gia.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Nguyễn Quốc Khánh</p>
                                        <span class="position">Khách hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Trải nghiệm của tôi thực sự rất tuyệt và cảm xúc.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Lê Văn Mạnh</p>
                                        <span class="position">Khách hàng</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@await Component.InvokeAsync("Post")