@using DoAnChuyenNganh.Models;
@using DoAnChuyenNganh.Utilities;
@model IList<Post>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Recent Post</h2>
            </div>
        </div>
        <div class="row d-flex">
            @foreach(var item in Model)
            {
                string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <img href="blog-single.html" class="block-20" src="@item.Images">
                        </img>
                        <div class="text mt-3 float-right d-block">
                            <div class="d-flex align-items-center mb-4 topp">
                                <small><i class="far fa-calendar-alt me-2"></i>@item.CreatedDate.ToString("dd-MM-yyyy")</small>
                            </div>
                            <h3 class="heading"><a href="/@url">@item.Title</a></h3>
                            <p>@item.Abstract</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

